.prizes-container {
  width: 100%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10; /* sits above stars background */
}

.prizes-title {
  font-family: "Camood", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 50px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.combined-section {
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0; 
}

.podium-image {
  width: 60%; 
  height: auto;
}

.orbit-image {
  width: 100%; 
  max-width: 600px; 
  margin-top: 50px; 
  
}

@media (max-width: 768px) {
  .podium-image {
    width: 90%;
  }
  .orbit-image {
    max-width: 90%;
  }
}
